[versions]
accompanist = "0.19.0"
aurora = "0.0.54-SNAPSHOT"
coroutines = "1.5.2"
hilt = "2.39"
richtext = "0.8.1"
serialization = "1.3.0"
sqldelight = "1.5.1"

[libraries]

kotlin-coroutines-android = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-android", version.ref = "coroutines" }
kotlin-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlin-coroutines-jvm = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core-jvm", version.ref = "coroutines" }
kotlinx-serialization-core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core", version.ref = "serialization" }
kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization" }

accompanist-insets = { module = "com.google.accompanist:accompanist-insets", version.ref = "accompanist" }
accompanist-swiperefresh = { module = "com.google.accompanist:accompanist-swiperefresh", version.ref = "accompanist" }
accompanist-sysuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }

androidx-activity-compose = "androidx.activity:activity-compose:1.4.0-beta01"
androidx-appcompat = "androidx.appcompat:appcompat:1.4.0-beta01"
androidx-browser = "androidx.browser:browser:1.4.0-beta01"
androidx-coreKtx = "androidx.core:core-ktx:1.7.0-beta02"
androidx-lifecycle-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:2.4.0-rc01"
androidx-navigation-compose = "androidx.navigation:navigation-compose:2.4.0-alpha10"
androidx-paging-compose = "androidx.paging:paging-compose:1.0.0-alpha13"

aurora-component = { module = "org.pushing-pixels:aurora-component", version.ref = "aurora" }
aurora-skin = { module = "org.pushing-pixels:aurora-skin", version.ref = "aurora" }
aurora-window = { module = "org.pushing-pixels:aurora-window", version.ref = "aurora" }

coil-compose = "io.coil-kt:coil-compose:1.3.2"
kamel-image = "com.alialbaali.kamel:kamel-image:0.2.2"

dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "hilt" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "hilt" }
dagger-hilt-core = { module = "com.google.dagger:hilt-core", version.ref = "hilt" }

compose-richtext-ui = { module = "com.halilibo.compose-richtext:richtext-ui", version.ref = "richtext" }
compose-richtext-material = { module = "com.halilibo.compose-richtext:richtext-ui-material", version.ref = "richtext" }
compose-richtext-markdown = { module = "com.halilibo.compose-richtext:richtext-commonmark", version.ref = "richtext" }
copydown = "io.github.furstenheim:copy_down:1.0"

multiplatform-paging = "dev.msfjarvis.paging:multiplatform-paging:0.4.5-SNAPSHOT"

retrofit-lib = "com.squareup.retrofit2:retrofit:2.9.0"
retrofit-kotlinxSerializationConverter = "com.jakewharton.retrofit:retrofit2-kotlinx-serialization-converter:0.8.0"

sqldelight-jvmDriver = { module = "com.squareup.sqldelight:sqlite-driver", version.ref = "sqldelight" }
sqldelight-androidDriver = { module = "com.squareup.sqldelight:android-driver", version.ref = "sqldelight" }
sqldelight-extensions-coroutines = { module = "com.squareup.sqldelight:coroutines-extensions-jvm", version.ref = "sqldelight" }

testing-mockWebServer = "com.squareup.okhttp3:mockwebserver3-junit4:5.0.0-alpha.2"
