[versions]
accompanist = "0.24.6-alpha"
agp = "7.4.0-alpha08"
androidXTest = "1.4.0"
aurora = "1.2-SNAPSHOT"
coil = "2.1.0"
# @keep This is used by paparazzi-tests and Renovate
composeCompiler = "1.2.0"
coroutines = "1.6.3"
dagger = "2.42"
hilt = "1.0.0"
kotlin = "1.7.0"
material_motion = "0.8.4"
retrofit = "2.9.0"
richtext = "0.13.0"
serialization = "1.3.3"
sqldelight = "2.0.0-alpha03"
workmanager = "2.8.0-alpha02"

[libraries]
accompanist-swiperefresh = { module = "com.google.accompanist:accompanist-swiperefresh", version.ref = "accompanist" }
accompanist-sysuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }
androidx-activity-compose = "androidx.activity:activity-compose:1.6.0-alpha05"
androidx-benchmark-macro-junit4 = "androidx.benchmark:benchmark-macro-junit4:1.1.0"
androidx-browser = "androidx.browser:browser:1.4.0"
androidx-core-splashscreen = "androidx.core:core-splashscreen:1.0.0-rc01"
androidx-hilt-compiler = { module = "androidx.hilt:hilt-compiler", version.ref = "hilt" }
androidx-hilt-work = { module = "androidx.hilt:hilt-work", version.ref = "hilt" }
androidx-lifecycle-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:2.6.0-alpha01"
androidx-navigation-compose = "androidx.navigation:navigation-compose:2.5.0-rc01"
androidx-paging-compose = "androidx.paging:paging-compose:1.0.0-alpha15"
androidx-profileinstaller = "androidx.profileinstaller:profileinstaller:1.2.0-rc01"
androidx-test-core = { module = "androidx.test:core", version.ref = "androidXTest" }
androidx-test-espresso-core = "androidx.test.espresso:espresso-core:3.4.0"
androidx-test-ext-junit = "androidx.test.ext:junit:1.1.3"
androidx-test-rules = { module = "androidx.test:rules", version.ref = "androidXTest" }
androidx-test-runner = { module = "androidx.test:runner", version.ref = "androidXTest" }
androidx-test-uiautomator = "androidx.test.uiautomator:uiautomator:2.2.0"
androidx-work-runtime-ktx = { module = "androidx.work:work-runtime-ktx", version.ref = "workmanager" }
aurora-component = { module = "org.pushing-pixels:aurora-component", version.ref = "aurora" }
aurora-theming = { module = "org.pushing-pixels:aurora-theming", version.ref = "aurora" }
aurora-window = { module = "org.pushing-pixels:aurora-window", version.ref = "aurora" }
build-agp = { module = "com.android.tools.build:gradle", version.ref = "agp" }
build-cachefix = "org.gradle.android.cache-fix:org.gradle.android.cache-fix.gradle.plugin:2.5.5"
build-kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
build-kotlin-serialization = { module = "org.jetbrains.kotlin:kotlin-serialization", version.ref = "kotlin" }
build-spotless = "com.diffplug.spotless:spotless-plugin-gradle:6.8.0"
build-vcu = "nl.littlerobots.version-catalog-update:nl.littlerobots.version-catalog-update.gradle.plugin:0.5.1"
build-versions = "com.github.ben-manes:gradle-versions-plugin:0.42.0"
coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
compose-richtext-markdown = { module = "com.halilibo.compose-richtext:richtext-commonmark", version.ref = "richtext" }
compose-richtext-material3 = { module = "com.halilibo.compose-richtext:richtext-ui-material3", version.ref = "richtext" }
compose-richtext-ui = { module = "com.halilibo.compose-richtext:richtext-ui", version.ref = "richtext" }
copydown = "io.github.furstenheim:copy_down:1.0"
dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "dagger" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "dagger" }
javapoet = "com.squareup:javapoet:1.13.0"
kamel-image = "com.alialbaali.kamel:kamel-image:0.3.0"
kotlinx-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlinx-datetime = "org.jetbrains.kotlinx:kotlinx-datetime:0.4.0"
kotlinx-serialization-core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core", version.ref = "serialization" }
kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization" }
material_motion-core = { module = "io.github.fornewid:material-motion-compose-core", version.ref = "material_motion" }
material_motion-navigation = { module = "io.github.fornewid:material-motion-compose-navigation", version.ref = "material_motion" }
multiplatform-paging = "io.github.kuuuurt:multiplatform-paging:0.4.7"
napier = "io.github.aakira:napier:2.6.1"
okhttp-loggingInterceptor = "com.squareup.okhttp3:logging-interceptor:3.14.9"
retrofit-kotlinxSerializationConverter = "com.jakewharton.retrofit:retrofit2-kotlinx-serialization-converter:0.8.0"
retrofit-lib = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-mock = { module = "com.squareup.retrofit2:retrofit-mock", version.ref = "retrofit" }
sqldelight-androidDriver = { module = "app.cash.sqldelight:android-driver", version.ref = "sqldelight" }
sqldelight-extensions-coroutines = { module = "app.cash.sqldelight:coroutines-extensions-jvm", version.ref = "sqldelight" }
sqldelight-jvmDriver = { module = "app.cash.sqldelight:sqlite-driver", version.ref = "sqldelight" }
sqldelight-primitiveAdapters = { module = "app.cash.sqldelight:primitive-adapters", version.ref = "sqldelight" }
testparameterinjector = "com.google.testparameterinjector:test-parameter-injector:1.8"

[plugins]
android-test = { id = "com.android.test", version.ref = "agp" }
aurora-svg-transcoder = { id = "org.pushing-pixels.aurora.tools.svgtranscoder.gradle", version.ref = "aurora" }
compose = "org.jetbrains.compose:1.2.0-alpha01-dev741"
hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
paparazzi = "app.cash.paparazzi:1.0.0"
sqldelight = { id = "app.cash.sqldelight", version.ref = "sqldelight" }
