[versions]
accompanist = "0.26.1-alpha"
agp = "7.4.0-alpha09"
coil = "2.2.0"
# @keep This is used by paparazzi-tests and Renovate
composeCompiler = "1.3.0"
coroutines = "1.6.4"
dagger = "2.43.2"
hilt = "1.0.0"
kotlin = "1.7.10"
material_motion = "0.9.1"
# @pin Needs to be aligned with Retrofit
okhttp = "3.14.9"
retrofit = "2.9.0"
richtext = "0.13.0"
serialization = "1.4.0-RC"
sqldelight = "2.0.0-alpha03"
workmanager = "2.8.0-alpha03"

[libraries]
accompanist-flowlayout = { module = "com.google.accompanist:accompanist-flowlayout", version.ref = "accompanist" }
accompanist-swiperefresh = { module = "com.google.accompanist:accompanist-swiperefresh", version.ref = "accompanist" }
accompanist-sysuicontroller = { module = "com.google.accompanist:accompanist-systemuicontroller", version.ref = "accompanist" }
androidx-activity-compose = "androidx.activity:activity-compose:1.6.0-rc01"
androidx-benchmark-macro-junit4 = "androidx.benchmark:benchmark-macro-junit4:1.2.0-alpha02"
androidx-browser = "androidx.browser:browser:1.4.0"
androidx-compose-animation = "androidx.compose.animation:animation:1.3.0-beta01"
androidx-compose-compiler = { module = "androidx.compose.compiler:compiler", version.ref = "composeCompiler" }
androidx-compose-foundation = "androidx.compose.foundation:foundation:1.3.0-beta01"
androidx-compose-material = "androidx.compose.material:material:1.3.0-beta01"
androidx-compose-material3 = "androidx.compose.material3:material3:1.0.0-beta01"
androidx-compose-runtime = "androidx.compose.runtime:runtime:1.3.0-beta01"
androidx-compose-ui-ui = "androidx.compose.ui:ui:1.3.0-beta01"
androidx-compose-ui-ui-text = "androidx.compose.ui:ui-text:1.3.0-beta01"
androidx-compose-ui-ui-tooling-preview = "androidx.compose.ui:ui-tooling-preview:1.3.0-beta01"
androidx-core-splashscreen = "androidx.core:core-splashscreen:1.0.0"
androidx-hilt-compiler = { module = "androidx.hilt:hilt-compiler", version.ref = "hilt" }
androidx-hilt-work = { module = "androidx.hilt:hilt-work", version.ref = "hilt" }
androidx-lifecycle-compose = "androidx.lifecycle:lifecycle-viewmodel-compose:2.6.0-alpha01"
androidx-navigation-compose = "androidx.navigation:navigation-compose:2.5.1"
androidx-paging-compose = "androidx.paging:paging-compose:1.0.0-alpha16"
androidx-profileinstaller = "androidx.profileinstaller:profileinstaller:1.2.0"
androidx-test-core = "androidx.test:core:1.5.0-alpha02"
androidx-test-espresso-core = "androidx.test.espresso:espresso-core:3.5.0-alpha07"
androidx-test-ext-junit = "androidx.test.ext:junit:1.1.4-alpha07"
androidx-test-rules = "androidx.test:rules:1.4.1-alpha07"
androidx-test-runner = "androidx.test:runner:1.5.0-alpha04"
androidx-test-uiautomator = "androidx.test.uiautomator:uiautomator:2.2.0"
androidx-work-runtime-ktx = { module = "androidx.work:work-runtime-ktx", version.ref = "workmanager" }
build-agp = { module = "com.android.tools.build:gradle", version.ref = "agp" }
build-cachefix = "org.gradle.android.cache-fix:org.gradle.android.cache-fix.gradle.plugin:2.5.6"
build-kotlin-gradle = { module = "org.jetbrains.kotlin:kotlin-gradle-plugin", version.ref = "kotlin" }
build-kotlin-serialization = { module = "org.jetbrains.kotlin:kotlin-serialization", version.ref = "kotlin" }
build-spotless = "com.diffplug.spotless:spotless-plugin-gradle:6.10.0"
build-vcu = "nl.littlerobots.version-catalog-update:nl.littlerobots.version-catalog-update.gradle.plugin:0.6.0"
build-versions = "com.github.ben-manes:gradle-versions-plugin:0.42.0"
coil = { module = "io.coil-kt:coil", version.ref = "coil" }
coil-compose = { module = "io.coil-kt:coil-compose", version.ref = "coil" }
compose-richtext-markdown = { module = "com.halilibo.compose-richtext:richtext-commonmark", version.ref = "richtext" }
compose-richtext-material3 = { module = "com.halilibo.compose-richtext:richtext-ui-material3", version.ref = "richtext" }
compose-richtext-ui = { module = "com.halilibo.compose-richtext:richtext-ui", version.ref = "richtext" }
copydown = "io.github.furstenheim:copy_down:1.1"
crux = "com.chimbori.crux:crux:3.9.1"
dagger-hilt-android = { module = "com.google.dagger:hilt-android", version.ref = "dagger" }
dagger-hilt-compiler = { module = "com.google.dagger:hilt-compiler", version.ref = "dagger" }
dagger-hilt-core = { module = "com.google.dagger:hilt-core", version.ref = "dagger" }
javapoet = "com.squareup:javapoet:1.13.0"
jsoup = "org.jsoup:jsoup:1.15.3"
kotlinx-coroutines-core = { module = "org.jetbrains.kotlinx:kotlinx-coroutines-core", version.ref = "coroutines" }
kotlinx-datetime = "org.jetbrains.kotlinx:kotlinx-datetime:0.4.0"
kotlinx-serialization-core = { module = "org.jetbrains.kotlinx:kotlinx-serialization-core", version.ref = "serialization" }
kotlinx-serialization-json = { module = "org.jetbrains.kotlinx:kotlinx-serialization-json", version.ref = "serialization" }
material_motion-core = { module = "io.github.fornewid:material-motion-compose-core", version.ref = "material_motion" }
material_motion-navigation = { module = "io.github.fornewid:material-motion-compose-navigation", version.ref = "material_motion" }
napier = "io.github.aakira:napier:2.6.1"
okhttp-core = { module = "com.squareup.okhttp3:okhttp", version.ref = "okhttp" }
okhttp-loggingInterceptor = { module = "com.squareup.okhttp3:logging-interceptor", version.ref = "okhttp" }
retrofit-kotlinxSerializationConverter = "com.jakewharton.retrofit:retrofit2-kotlinx-serialization-converter:0.8.0"
retrofit-lib = { module = "com.squareup.retrofit2:retrofit", version.ref = "retrofit" }
retrofit-mock = { module = "com.squareup.retrofit2:retrofit-mock", version.ref = "retrofit" }
sqldelight-androidDriver = { module = "app.cash.sqldelight:android-driver", version.ref = "sqldelight" }
sqldelight-extensions-coroutines = { module = "app.cash.sqldelight:coroutines-extensions-jvm", version.ref = "sqldelight" }
sqldelight-jvmDriver = { module = "app.cash.sqldelight:sqlite-driver", version.ref = "sqldelight" }
sqldelight-primitiveAdapters = { module = "app.cash.sqldelight:primitive-adapters", version.ref = "sqldelight" }
testparameterinjector = "com.google.testparameterinjector:test-parameter-injector:1.8"

[plugins]
android-test = { id = "com.android.test", version.ref = "agp" }
aurora-svg-transcoder = "org.pushing-pixels.aurora.tools.svgtranscoder.gradle:1.2-SNAPSHOT"
hilt = { id = "com.google.dagger.hilt.android", version.ref = "dagger" }
sqldelight = { id = "app.cash.sqldelight", version.ref = "sqldelight" }
