<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dev.msfjarvis.lobsters"
  android:sharedUserId="${applicationId}.uid">

  <uses-permission android:name="android.permission.INTERNET" />

  <application
    android:name=".ClawApplication"
    android:allowBackup="true"
    android:fullBackupContent="@xml/full_backup_content"
    android:icon="@mipmap/ic_launcher"
    android:label="@string/app_name"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.AppCompat.DayNight">
    <activity
      android:name=".ui.main.MainActivity"
      android:exported="true"
      android:label="@string/app_name"
      android:theme="@style/Platform.Theme.Claw">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />

        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter android:label="@string/hottest_posts">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:ssp="//lobste.rs"
          android:scheme="https" />

        <data
          android:host="lobste.rs"
          android:scheme="https"
          android:path="/"/>
      </intent-filter>

      <intent-filter android:label="@string/newest_posts">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="lobste.rs"
          android:scheme="https"
          android:pathPrefix="/recent" />
      </intent-filter>


      <intent-filter android:label="@string/open_comments">
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
          android:host="lobste.rs"
          android:scheme="https"
          android:pathPrefix="/s/" />
      </intent-filter>
    </activity>
    <activity
      android:name=".ui.settings.SettingsActivity"
      android:theme="@style/Platform.Theme.Claw"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
      </intent-filter>
    </activity>
  </application>

</manifest>
