<!--
 ~ Copyright © Harsh Shandilya.
 ~ Use of this source code is governed by an MIT-style
 ~ license that can be found in the LICENSE file or at
 ~ https://opensource.org/licenses/MIT.
 -->
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android">

  <!-- Performing the heap growth analysis in process requires more heap. -->
  <application
      android:largeHeap="true"/>
</manifest>
