<?xml version="1.0" encoding="utf-8" ?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  xmlns:tools="http://schemas.android.com/tools"
  package="dev.msfjarvis.claw.android">

  <uses-permission android:name="android.permission.INTERNET" />
  <application
    android:name=".ClawApplication"
    android:icon="@mipmap/ic_launcher"
    android:label="Claw"
    android:roundIcon="@mipmap/ic_launcher"
    android:supportsRtl="true"
    android:theme="@style/Theme.Claw.SplashScreen">
    <activity
      android:name=".MainActivity"
      android:configChanges="colorMode|density|fontScale|keyboard|keyboardHidden|layoutDirection|locale|mcc|mnc|navigation|orientation|screenLayout|screenSize|smallestScreenSize|touchscreen|uiMode"
      android:exported="true">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
        <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:ssp="//lobste.rs"
            android:scheme="https" />

        <data
            android:host="lobste.rs"
            android:scheme="https"
            android:path="/"/>
      </intent-filter>

      <intent-filter>
        <action android:name="android.intent.action.VIEW" />

        <category android:name="android.intent.category.DEFAULT" />
        <category android:name="android.intent.category.BROWSABLE" />

        <data
            android:host="lobste.rs"
            android:scheme="https"
            android:pathPattern="/s/......"/>

        <data
            android:host="lobste.rs"
            android:scheme="https"
            android:pathPattern="/s/....../"/>

        <data
            android:host="lobste.rs"
            android:scheme="https"
            android:pathPattern="/s/....../...*"/>
      </intent-filter>
    </activity>
    <provider
      android:name="androidx.startup.InitializationProvider"
      android:authorities="${applicationId}.androidx-startup"
      android:exported="false"
      tools:node="merge">
        <meta-data
          android:name="androidx.work.WorkManagerInitializer"
          android:value="androidx.startup"
          tools:node="remove" />
    </provider>
  </application>
</manifest>
