name: CI

on:
  push:
    branches:
      - main
      - renovate/**

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    runs-on: macos-14
    steps:
    - name: Setup build environment
      uses: msfjarvis/compose-lobsters/.github/reusable-workflows/setup-gradle@main
      with:
        fetch-depth: 0
        cache-read-only: ${{ github.ref != 'refs/heads/main' }}
        dependency-graph: generate-and-submit

    - name: Check changelog format
      uses: mindsers/changelog-reader-action@32aa5b4c155d76c94e4ec883a223c947b2f02656 # v2.2.3
      with:
        path: ./CHANGELOG.md
        validation_level: error

    - name: Run unit tests
      run: ./gradlew --no-configuration-cache --stacktrace check -PslimTests

    - name: (Fail-only) Upload test report
      if: failure()
      uses: actions/upload-artifact@1746f4ab65b179e0ea60a494b83293b640dd5bba # v4.3.2
      with:
          name: Test report
          path: '**/build/reports/tests/**'

  dependency-review:
    runs-on: macos-14
    if: "github.event_name == 'push' && github.event.ref != 'refs/heads/main'"
    needs:
      - check
    steps:
      - name: Checkout repository
        uses: actions/checkout@1d96c772d19495a3b5c517cd2bc0cb401ea0529f # v4.1.3

      - name: Dependency Review
        uses: actions/dependency-review-action@5bbc3ba658137598168acb2ab73b21c432dd411b # v4
        with:
          base-ref: refs/heads/main
          head-ref: ${{ github.ref }}
