name: CI

on:
  push:
    branches:
      - main
      - renovate/**

  pull_request:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

jobs:
  check:
    if: "github.event.pull_request.draft == false"
    runs-on: macos-14
    steps:
    - name: Setup build environment
      uses: msfjarvis/compose-lobsters/.github/reusable-workflows/setup-gradle@main
      with:
        fetch-depth: 0
        cache-read-only: ${{ github.ref != 'refs/heads/main' }}
        dependency-graph: generate-and-submit

    - name: Check changelog format
      uses: mindsers/changelog-reader-action@32aa5b4c155d76c94e4ec883a223c947b2f02656 # v2.2.3
      with:
        path: ./CHANGELOG.md
        validation_level: error

    - name: Run unit tests
      run: ./gradlew --no-configuration-cache --stacktrace :build-logic:check check -PslimTests
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    - name: (Fail-only) Upload test report
      if: failure()
      uses: actions/upload-artifact@ea165f8d65b6e75b540449e92b4886f43607fa02 # v4.6.2
      with:
          name: Test report
          path: '**/build/reports/tests/**'

  dependency-review:
    runs-on: macos-14
    if: "github.event_name == 'push' && github.event.ref != 'refs/heads/main'"
    needs:
      - check
    steps:
      - name: Checkout repository
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
        with:
          persist-credentials: false

      - name: Dependency Review
        uses: actions/dependency-review-action@da24556b548a50705dd671f47852072ea4c105d9 # v4
        with:
          base-ref: refs/heads/main
          head-ref: ${{ github.ref }}
