name: Android release build

on:
  workflow_dispatch:
    inputs:
      tramline-input:
        description: "Tramline input"
        required: false

jobs:
  signed-build:
    runs-on: ubuntu-latest
    steps:
      - name: Setup build environment
        uses: msfjarvis/compose-lobsters/.github/reusable-workflows/setup-gradle@main
        with:
          cache-read-only: true

      - name: Configure Tramline
        id: tramline
        uses: tramlinehq/deploy-action@58cc98c188b9eda853e549ede6a8b2f58fe29516 # v0.1.7
        with:
          input: ${{ github.event.inputs.tramline-input }}

      - name: Build release app
        run: |
          ./scripts/setup-age.sh
          ./scripts/signing-setup.sh "$AGE_SECRET_KEY"
          ./gradlew --no-configuration-cache --stacktrace assembleRelease collectReleaseBundle -PenableSentry
          ./scripts/signing-cleanup.sh
        env:
          AGE_SECRET_KEY: ${{ secrets.AGE_SECRET_KEY }}
          SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
          SENTRY_AUTH_TOKEN: ${{ secrets.SENTRY_AUTH_TOKEN }}
          ORG_GRADLE_PROJECT_VERSION_NAME: ${{ steps.tramline.outputs.version_name }}
          ORG_GRADLE_PROJECT_VERSION_CODE: ${{ steps.tramline.outputs.version_code }}

      - name: Upload app bundle
        uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
        with:
          name: release-aab
          path: android/build/outputs/bundle/release/android-release.aab
